@import "../../reset.scss"; 

.boardView-all {
    padding: 50px; 
    font-size: 15px;
    
    .boardView-bno{
        font-size: 30px;
        font-style: bold;
    }

    // 구분선
    .line { 
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px; 
        width: 100%;
        padding: 0 20px 0 20px;

        @media (max-width: 768px) {
            height: 1px;
            /* 화면 크기가 작을 때 더 얇은 밑줄로 변경 */
        }
    }

    p{
        background-color: $test3;
        height: 100%;
        padding: 0px 20px 0 20px;
        
    }
    
    .boardView-content{
        height: 400px;
    }

    .BoardContent{
        padding: 20px 20px 0 20px;
    }
}

