.category {
    margin: 20px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.5em;
    position: relative; 
    transition: color 0.3s; 
    
    @media (max-width: 768px) {
      font-size: 19px; // 반응형으로 크기 조정
  }

    &::after {
      content: '';
      position: absolute;
      bottom: -5px; /* 텍스트와 밑줄 간격 조절 */
      left: 0;
      width: 100%;
      height: 2px; 
      background-color: transparent; /* 초기 투명한 색 */
      transition: background-color 0.3s; 
    }
  
    &:hover::after {
      background-color: black
    }
}