@import '../reset.scss';

.wrapper {
  display: flex;
  overflow: hidden;

  .companyView {
    margin-top: 180px;
    width: 1000px;
    height: auto;
    background: #dfdede50;
    border-radius: 30px;
    padding: 15px;
    overflow-y: auto;

      ::-webkit-scrollbar {
        width: 10px;
      }

      ::-webkit-scrollbar-thumb {
        background: $test4;
        border-radius: 10px; 
      }

      ::-webkit-scrollbar-track {
        background: #eee; 
      }

    @media (max-width: 1044px) {
      width: 80%;
    }

    // 왼쪽 영역
    .info-left{
      flex: 0 0 auto;

      .main-title {
        padding-bottom: 10px;
        margin: 0px;
        font-weight: bold;
      }

      .nav {
        display: flex;
        flex-direction: column;

        .nav-location {
          display: flex; 
          align-items: center; 

          .nav-location-icon {
            width: 28px;
            height: 28px;
            color: #e48f8ef0;
            margin-right: 3px;
          }

          .nav-location-name{
            font-size: 15px;
          }
        }

        .nav-date {
          margin: 0 2px;
          font-size: 15px;
          display: flex;
          align-items: center;

          .nav-date-icon {
            font-size: 25px;
            margin-right: 5px;
            color: #e4b78ef0;
          }
        }

        .nav-writer {
          display: flex; 
          align-items: center; 
          margin: 0 5px 10px 2px;

          .nav-person-icno {
            width: 25px;
            height: 25px;
            margin-right: 5px;
            color: #bbe589f0;
          }

          .nav-writer-name{
            font-size: 15px;
          }
        }
      }

      .body-section1 {
        padding: 5px;
        border: 1px dashed #555;
        min-height: 100px;
      }

      .reply_div {
        border-top: 1px solid #555;
        padding-top: 10px;
        margin-top: 20px;

        p {
          margin-bottom: 3px;
        }

        .reply_write {
          display: flex;
          align-items: center;
          width: 100%;

          textarea {
            flex: 1;
            height: 70px;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #555;
            border-radius: 5px;
            resize: none;
          }

          #reply_submit_button {
            margin-left: 10px;
            height: 70px;
            padding: 10px 20px;
            font-size: 16px;
            border: 1px solid #555;
            border-radius: 5px;
            background-color: #f9f9f9;
            cursor: pointer;
          }
        }
      }
  }

  // 오른쪽 영역
    .reply-list {
      margin: 10px;
      flex: 1;
      overflow-y: auto;

      .comment-count{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 10px;
      
        svg {
          font-size: 1.7em; 
          margin-right: 5px;
          color: #555;
        }

        p{
          font-size: 17px;
        }
      }

      .reply-single {
        margin-bottom: 8px;
      }

      .nick-name {
        font-weight: bold;
      }

      .reply-section {
        display: flex;
        align-items: center;
        justify-content: space-between;

          .reply-content {
            font-size: 16px;
            margin: 2px 0 2px 0;
          }

          .delete-icon {
            margin-right: 10px;
            font-size: 20px;
            color: #555;
          }

          .time {
            font-size: 8px;
          }
      }

      .no_data {
        text-align: center;
        flex-direction: column;

        .emptyIcon {
          color: $test4;
          font-size: 50px;
        }
        h3 {
          margin-bottom: 20px;
        }
      }

      .reply-container {
        max-height: 300px;
        overflow-y: auto; 
      }
    }
  }

  .companyList {
    text-align: right;
    color: #555;
  }
}