.companyModal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }

.modal-header{
   border-bottom: none;
   padding-bottom: 0px;
   
    .modal-title{
      font-size: 20px;
    }
  }


.location-icon{
    width: 25px;
    height: 25px;
}

.date-icon{
    width: 25px;
    height: 25px;
    margin-top: 10px;
}

.tag{
  padding: 15px 0 10px 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  margin: 0 3px 0 0;
  text-decoration: none solid rgb(102, 102, 102);
  color: #666666;
}

.modal-footer{
  border-top: none;
}