.write-btn{
    margin-bottom: 30px;
}

.pepole-icon{
    width: 40px;
    height: 40px;
    color: #939090;
}

// 카드 내부
.Company-card{
    // width: 350px;
    height: 400px;
    // margin-bottom: 30px;
    padding: 0 15px;
    box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.09);

    // &:hover {
    //     width: 700px; 
    // }

    .body-header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .body-location{

             display: flex;
             background: #D2E0FB;
             
            //  margin: 0;
            // width: 30px;
            // height: 40px;
            // background: pink;
    
            .body-location-name{
            font-size: 25px;
            font-weight: bold;
            color: #939090;
            padding: 0;
            margin: 10px;
            
            }
        }

        
    }
    .body-title{
        font-size: 20px;
    }
}

.apply-btn{
    width: 120px;
    height: 40px;
    border: 1px solid #F9F3CC;
    border-radius: 20px;
    background-color: #F9F3CC;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;

    .ariPlane-btn {
        padding-left: 3px;
        width: 20px;
        height: 20px;
        color: #000000;
    }

    &:hover {
        background-color: #D2E0FB; 
        color: #000000;
    }
}

