@import '/src/reset.scss';

.companyView{

  margin-top: 180px;
  width: 1000px;
  height: 430px;
  background: #dfdede50;
  border-radius: 30px;
  padding: 15px;

  // .view-header{
  //   font-size: 50px;
  // }

  .main-title{
    padding: 20px 0 10px 10px;
    margin: 0px;
    font-weight: bold;
  }

  // nav 시작
    .nav{
      display: flex;
      flex-direction: column;
      
       // 장소
      .nav-location{
        margin: 0 3px 0 ;
        font-size: 15px;

        .nav-location-icon{
          width: 28px;
          height: 28px;
        } 
      }

      // 날짜
      .nav-date{
          margin: 0 5px;
          font-size: 15px;
          display: flex;
          align-items: center;

        .nav-date-icon{
          // width: 28px;
          // height: 28px;
          font-size: 25px;
          margin-right: 5px;
        }

        .nave-date-regDate {
          margin: 0; // 상하 여백제거
        }
      }

      // 작성자
      .nav-writer{
        font-size: 15px;
        margin: 0 5px 10px 5px;

        .nav-person-icno{
            width: 25px;
            height: 25px;
            margin-right: 5px;
        }
        
      }
    }
    // nav 끝

    .body-section1{
      margin: 8px;
      padding: 10px 10px 10px 0;
      height: 180px;
      // background: #98b3ce5b;
      border: 1px dashed #9a999968;
      height: 100px;
    }

    // 입력
    .reply_div{
      border-top: 1px solid #ddd;
      padding-top: 10px;
      margin-top: 20px;

      p{
        margin-bottom: 3px;
      }

      .reply_write{
        display: flex;
        align-items: center;
        // margin-bottom: 10px;
        width: 480px;
        // height: 80px;

        // 입력창
        textarea {
          flex: 1;
          height: 100px;
          padding: 10px;
          font-size: 16px;
          border: 1px solid #ddd;
          border-radius: 5px;
          resize: none;
          height: 70px;
        }

        // 입력 버튼
        #reply_submit_button {
          margin-left: 10px;
          height: 100px;
          padding: 10px 20px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: #f9f9f9;
          cursor: pointer;
          height: 70px;
        }
      }
    }

    // 댓글목록
    .reply-list{
      // width: 400px;
      // height: 80px;
      // background: pink;
      margin: 10px;

      .reply-single{
        margin-bottom: 15px;
        
      }

      // .reply-section1 {
      //   display: flex;
      //   align-items: center; 
      
      //   .nick-name {
      //     margin-right: 8px; 
      //   }
      // }

      .reply-section2{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .delete-icon{
          font-size: 20px;
          color: #6e6e6ef0;
        }
      }
    }
}