@import "../../reset.scss"; 

.boardView-header{
    padding-top: 220px;    
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold; 
}

.boardView-all {
    padding: 50px; 
    font-size: 15px;
    
    .boardView-bno{
        font-size: 30px;
        font-weight: bold;
    }

    .boardView-title{
        font-size: 22px;
        margin: 10px 30px;
    }

    .boardView-detail{
        margin: 10px 30px;
        // border-bottom: 1px solid #d1d1d1;
        color : #878383;
        display: flex;

        .date{
            margin-right: 20px;
        }
  
        .write{
            margin-right: 20px;
        }
  
        // .date, .writer, .view {
        //     position: relative;
        //     display: inline-block;
        //     white-space: nowrap; /* 단어가 줄 바꿈되지 않도록 설정 */
        //     margin-right: 30px; /* 단어 사이의 간격 조절 */
        //   }
          
        //   .date::before, .writer::before, .view::before {
        //     content: "";
        //     position: absolute;
        //     right: -10px; 
        //     top: 50%; 
        //     transform: translateY(-50%); 
        //     width: 1px;
        //     height: 80%;
        //     background-color: #ccc;
        //   }
          
    }

    .board-content{
        padding: 50px 30px;
        font-size: 20px;
        white-space: pre-line; // 줄바꿈
    }

    .file {
        // width: 200px;
        // height: 300px;
        display: table-cell;
        vertical-align: middle;
        padding: 25px 0;
        background: #f5f5f5;
        text-align: center;
        font-family: 'S-CoreDream-4Regular';
        color: #444;
      
        .imgs {
          object-fit: cover;
          margin-right: 100px;
        }
      }
      










    // 구분선
    .line { 
        border-bottom: 1px solid #ccc;
        // margin-bottom: 10px; 
        width: 100%;
        // padding: 0 20px 0 20px;

        @media (max-width: 768px) {
            height: 1px;
        }
    }

    // p{
    //     background-color: $test3;
    //     height: 100%;
    //     padding: 0px 20px 0 20px;
        
    // }
    
    // .boardView-content{
    //     height: 400px;
    // }

}


