@import "../../reset.scss"; 

.boardView-header{
    padding-top: 220px;    
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold; 

}

.boardView-all {
    padding: 50px; 
    font-size: 15px;
    
    .boardView-bno{
        font-size: 22px;
        font-weight: bold;
    }

    .boardView-title{
        font-size: 18px;
        margin: 10px 30px;
    }

    .boardView-detail{
        margin: 10px 30px;
        // border-bottom: 1px solid #d1d1d1;
        color : #878383;
        display: flex;

        .date{
            margin-right: 20px;
        }
  
        .writer{
            margin-right: 20px;
        }
    }

    .board-content{
        padding: 30px 30px;
        font-size: 20px;
        white-space: pre-line; // 줄바꿈
    }

    .file{
        
        

        .file-title {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #f5f5f5;
            text-align: center;
            font-family: 'S-CoreDream-4Regular';
            color: #444;
            height: 60px;
          
            p{
                font-weight: bold;
            }
        }
        
        .file-imgFile{
    
            .file-imgFile-uuid {
              object-fit: cover;
              border-radius: 10px;
              margin: 10px;
              justify-content: center;
              align-items: center;
              font-weight: bold; 
              color: #565454;
            }
        }
    }

    // 구분선
    .line { 
        border-bottom: 1px solid #ccc;
        width: 100%;

        @media (max-width: 768px) {
            height: 1px;
        }
    }

    .line-bold{
        border-bottom: 2px solid #565454;
        width: 100%;
    }

    // 첨부파일 이미지 
    .attachment {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    
        @media (max-width: 767px) {
            .imgs {
                width: 300px;
                height: 200px;
                object-fit: cover;
            }
        }
    }
 /* 스타일 수정 */
.boardView-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    @media (min-width: 990px) {
        flex-direction: row; 
    }

    a, button {
        white-space: nowrap; 
    }

    button:disabled {
        white-space: nowrap;
    }
}

    
    
}

.btn{
    text-decoration: none ;
    color: $test4;
    font-weight: bold;
}