@import "../../reset.scss"; 
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

.touriSpot-cotent{
    padding: 0 80px 0 80px;

// 총 _건, 조회수, 좋아요 
    .place-total {
        padding-bottom: 30px;
        font-weight: 700;
        font-size: 25px;
    }

    .place-total{
        .total{
           span{
            padding: 0 2px;
            color: #0a97cd;
            font-weight: bold;
            font-size: 24px;
           }
        }
    }

    // .write-btn{
    //     background-color: $test3;
    //     // outline-color: aliceblue;
    
    // }



    
    // 구분선
    .underline{
        margin: 10px 0 10px 0;
        color: #fafafaa7;
        width: 100%;
        
        @media (max-width: 768px) {
            height: 1px; /* 화면 크기가 작을 때 더 얇은 밑줄로 변경 */
        }
    }

    .TourisSpot-Card{
        border: none;
        padding: 0px;

        .TourisSpot-Img{
            width: 230px;
            height: 150px;
            border-radius: 10px;
        }

        .content-location{
            font-size: 20px;
            font-weight: bold;
            color: $test4;
            width: 80px;
            padding-left: 10px;
            margin-bottom: 15px;
        }

        .content-title{
            font-size: 15px;
            margin-bottom: 50px;
        }
        
    }
}

