body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 폰트들 */
@font-face {
  font-family: "YEONGJUPunggiGinsengTTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/YEONGJUPunggiGinsengTTF.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SejonghospitalBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SejonghospitalBold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* Noto Sans Korean */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
/* font-family: 'Nanum Gothic', sans-serif; */
