.land {
  fill: #cccccc;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.5;
}
.landNo {
  fill: #cccccc;
}
.land:hover {
  fill: #8eaccd;
}
.SeoulLand {
  fill: #d2e0fb;
}

.selected {
  fill: #8eaccd !important;
}
.mapstyle {
  width: 100%;
  height: 100%;
  margin-left: 130px;
  margin-top: -100px;
}

@media screen and (max-width: 768px) {
  .mapstyle {
    margin-left: 100px;
    width: 100%;
  }
}
